@use 'variables' as var;
@use 'breakpoints' as b;

.topicSection {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  margin: 50px auto 20px auto;
  @include b.breakpoint(large) {
    margin-top: 80px;
    width: 90vw;
  }
}
.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  background-color: var.$color-secondary-background;
  border: 1px solid var.$color-secondary-background;
  border-radius: 30px;
  width: 20vw;
  height: 10vh;
  font-family: var.$font-secondary;
  font-size: 3rem;
  color: var.$color-secondary-text;
  @include b.breakpoint(large) {
    width: 36vw;
    height: 50%;
  }
  @include b.breakpoint(small) {
    width: 54vw;
    height: auto;
    margin: 0 5px 0 5px;
    font-size: 2rem;
  }
}
#corporation {
  margin-top: 0;
}
#corp {
  width: 24vw;
  @include b.breakpoint(large) {
    width: 44vw;
  }
  @include b.breakpoint(small) {
    width: 62vw;
  }
}
#why {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  justify-content: center;
  align-content: space-evenly;
  align-items: center;
  margin-top: 0;
}
.imgSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 5px 0 10px 0;
  @include b.breakpoint(large) {
    width: 90vw;
  }
  @include b.breakpoint(small) {
    display: flex;
    text-align: center;
  }
}
.mainHeader {
  display: flex;
  flex-flow: row wrap;
  font-family: var.$font-secondary;
  font-size: 3rem;
  margin: 50px auto 20px auto;
  @include b.breakpoint(small) {
    max-width: 70vw;
    justify-content: center;
    height: auto;
    text-align: center;
    font-size: 2rem;
  }
}
.smallImg {
  height: 50%;
  width: auto;
  @include b.breakpoint(large) {
    max-height: 10vh;
  }
}
.infoContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: var.$font-primary;
  width: 70%;
  margin-bottom: 10px;
  @include b.breakpoint(large) {
    width: 100%;
  }
}
.textSection {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  font-family: var.$font-primary;
  width: 50%;
  margin-bottom: 10px;
  @include b.breakpoint(large) {
    width: 72vw;
  }
  @include b.breakpoint(small) {
    width: 90vw;
  }
}
.subHeader {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
  @include b.breakpoint(small) {
    font-size: 1.5rem;
  }
}
.subText {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
  @include b.breakpoint(small) {
    font-size: 1rem;
  }
}
