@use 'variables' as var;

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$color-primary-background;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0 0.5rem 0.5rem 0.5rem;
  color: var.$color-secondary-text;
  font-family: var.$font-secondary;
}

.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
}

.navLogo {
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
  max-width: 50%;
  height: 6vh;
}

.navlinkContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  list-style-type: none;
}

.navlink:focus,
.navlink:hover,
.navlink:visited,
.navlink:link,
.navlink:active {
  text-decoration: none;
  color: var.$color-secondary-text;
}

.menu {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 20;
  display: none;
}

.menu div {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
  background-color: var.$color-secondary-background;
  &:nth-child(1) {
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  &:nth-child(3) {
    transform: rotate(-45deg);
  }
}

.close div {
  background-color: var.$color-secondary-text;
  &:nth-child(1) {
    transform: rotate(0);
  }
  &:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
  }
  &:nth-child(3) {
    transform: rotate(0);
  }
}

.navlinkContainer {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style-type: none;
    padding: 1rem;
    &:hover {
      color: var.$color-secondary-text;
      background-color: var.$color-secondary-background;
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navlinkContainer {
    min-width: 40vw;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
  .navlinkContainer {
    flex-flow: column nowrap;
    background-color: var.$color-primary-background;
    position: fixed;
    top: 3.5rem;
    right: 0;
    height: 15vh;
    width: 100vw;
    margin-top: 12px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  }
  .active {
    transform: translateX(100%);
  }
}
