@use 'variables' as var;

.quizSection {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-content: center;
  align-items: center;
  margin: 50px auto 20px auto;
  text-align: center;
}
#quiz {
  width: 10vw;
}
h2 {
  margin: 10px 0;
}
.questionContainer {
  max-width: 90vw;
}
.answerContainer {
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
  align-content: center;
}
button {
  cursor: pointer;
}
.answer {
  margin-bottom: 5px;
  border-color: var.$color-secondary-background;
  background-color: var.$color-secondary-text;
  color: var.$color-secondary-background;
  &:hover {
    background-color: var.$color-secondary-background;
    color: var.$color-secondary-text;
  }
  &:disabled {
    background-color: var.$color-secondary-text;
    color: var.$color-secondary-background;
  }
}
.info {
  margin: 10px 0;
  max-width: 90vw;
  a {
    &:focus,
    &:hover,
    &:link {
      text-decoration-color: var.$color-secondary-background;
      color: var.$color-primary-text;
    }
    &:visited,
    &:active {
      color: var.$color-secondary-background;
    }
  }
}
