@use 'variables' as var;
@use 'breakpoints' as b;

.quizSection {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-content: center;
  align-items: center;
  margin: 50px auto 20px auto;
  text-align: center;
  @include b.breakpoint(large) {
    margin-top: 80px;
  }
}

#quiz {
  width: 10vw;
  @include b.breakpoint(large) {
    min-width: 20vw;
  }
  @include b.breakpoint(small) {
    min-width: 32vw;
  }
}

h2 {
  margin: 10px 0;
}

.questionContainer {
  max-width: 90vw;
}

.answerContainer {
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
  align-content: center;
}

button {
  cursor: pointer;
}

.answer {
  margin-bottom: 5px;
  border-color: var.$color-secondary-background;
  background-color: var.$color-secondary-text;
  color: var.$color-secondary-background;
  &:hover {
    background-color: var.$color-secondary-background;
    color: var.$color-secondary-text;
  }
  &:disabled {
    background-color: var.$color-secondary-text;
    color: var.$color-secondary-background;
  }
  @include b.breakpoint(small) {
    width: 80vw;
  }
}

.info {
  margin: 20px 0 10px 0;
  max-width: 90vw;
  overflow-wrap: break-word;
  a {
    &:focus,
    &:hover,
    &:link {
      text-decoration-color: var.$color-secondary-background;
      color: var.$color-primary-text;
    }
    &:visited,
    &:active {
      color: var.$color-secondary-background;
    }
  }
}

.next {
  margin-top: 30px;
  @include b.breakpoint(large) {
    width: 30vw;
  }
  @include b.breakpoint(small) {
    width: 50vw;
  }
}
