@use 'variables' as var;

.quizSection {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-content: center;
  align-items: center;
  margin: 50px auto 20px auto;
  text-align: center;
}
#quiz {
  width: 10vw;
}
h2 {
  margin: 10px 0;
}
.questionContainer {
  max-width: 90vw;
}
.answerContainer {
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
  align-content: center;
}
button {
  cursor: pointer;
}
.answer {
  margin-bottom: 5px;
  border-color: var.$color-secondary-background;
  background-color: var.$color-secondary-text;
  color: var.$color-secondary-background;
  &:hover {
    background-color: var.$color-secondary-background;
    color: var.$color-secondary-text;
  }
  &:disabled {
    background-color: var.$color-secondary-text;
    color: var.$color-secondary-background;
  }
}
.info {
  margin: 20px 0 10px 0;
  max-width: 90vw;
  overflow-wrap: break-word;
  a {
    &:focus,
    &:hover,
    &:link {
      text-decoration-color: var.$color-secondary-background;
      color: var.$color-primary-text;
    }
    &:visited,
    &:active {
      color: var.$color-secondary-background;
    }
  }
}
.next {
  margin-top: 30px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .quizSection {
    margin-top: 80px;
  }
  #quiz {
    width: 20vw;
    height: 8vh;
  }
  .next {
    width: 30vw;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #quiz {
    width: 40vw;
    height: 10vh;
  }
  .answer {
    width: 80vw;
  }
}
