@use 'variables' as var;
@use 'breakpoints' as b;

.smallerTopicSection {
  width: 60%;
  @include b.breakpoint(large) {
    width: 80vw;
  }
  @include b.breakpoint(small) {
    width: 98vw;
  }
}

.shorterTitle {
  max-width: 12vw;
  @include b.breakpoint(large) {
    max-width: 24vw;
  }
  @include b.breakpoint(small) {
    max-width: 32vw;
  }
}
.quizLink {
  text-decoration: none;
  color: var.$color-primary-text;
}

@include b.breakpoint(small) {
  .infoContainer {
    max-width: 90vw;
  }
}
