@use 'variables' as var;

.smallerTopicSection {
  width: 60%;
}

.shorterTitle {
  max-width: 12vw;
}
.quizLink {
  text-decoration: none;
  color: var.$color-primary-text;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .smallerTopicSection {
    width: 80vw;
  }
  .shorterTitle {
    max-width: 24vw;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .smallerTopicSection {
    width: 98vw;
  }
  .shorterTitle {
    max-width: 32vw;
  }
  .infoContainer {
    max-width: 90vw;
  }
}
